html
  font-size 62.5%

body
  background #fff
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'Roboto', sans-serif
  font-size 2rem
  
h1
  font-family 'Roboto', sans-serif;
  text-align center
  font-weight normal
  margin 0



h2,h3,h4,h5,h6
  font-weight normal
  font-family 'Roboto', sans-serif

h2
  text-align center
  margin-top 0
  margin-bottom 2rem

h3
  font-size 3rem
