@require './_*.styl'

header.masthead
    text-align center
    font-size: 1.6rem
    line-height: 5.4rem
    background: #313131;

    ul
        margin: 0 0 6.4rem
        li 
            display: inline
            margin: 0 1rem
            a
                text-decoration: none
                color: #fff

.container
    width: 100%
    max-width: 640px
    margin: 0 auto

form
    margin-bottom: 6.4rem
    input
        display: block
        margin-bottom: 1.6rem;  

table 
    width: 100%;

    tr
        &.total
            background: #efefef
        td
            padding: .75rem 1rem
            border-bottom: 1px solid #dfdfdf

            &:last-of-type
                text-align: right